<% layout("/layouts/boilerplate.ejs") %>
<body>
    <h3>All Listings</h3>
    <ul>
        <%for (let list of allListings){ %>
            <li><a href="/listings/<%= list._id %>"><%= list.title %></a></li>
        <% }%>
    </ul>
</body>