<% layout("/layouts/boilerplate.ejs") %>
<body>
    <div class="row">
        <div class="col-8 offset-2 mt-3">
            <h3>Create a new Listing</h3>
            <form action="/listings" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
                <div>
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="listing[title]" placeholder="Enter Title" class="form-control" required>
                    <div class="valid-feedback">
                        Looks good!
                      </div>
                      <br>
                </div>
                
                <div>
                    <label for="description" class="form-label">Description</label>
                    <textarea type="text" name="listing[description]" class="form-control" required></textarea>
                    <div class="invalid-feedback">
                        Please enter a short Description.
                      </div>
                      <br>
                </div>
                <div>
                    <label for="image" class="form-label">Upload listing image</label>
                    <input type="file" name="listing[image][url]" class="form-control" required><br>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input type="number" name="listing[price]" placeholder="Enter Price e.g. 1200" class="form-control" required>
                        <div class="invalid-feedback">
                            Please enter a valid Price.
                          </div>
                          <br>
                    </div>
                    <div class="col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" name="listing[country]" placeholder="Enter Country e.g. India" class="form-control" required>
                        <div class="invalid-feedback">
                            Country name should be valid.
                          </div>
                          <br>
                    </div>
                </div>
                <div>
                    <label for="location" class="form-label">Location</label>
                    <input type="text" name="listing[location]" placeholder="Enter Location e.g. Saputara, Dang, Gujarat" class="form-control" required>
                    <div class="invalid-feedback">
                        Location should be valid.
                      </div>
                      <br>
                </div>
                <button class="btn btn-dark add-btn mb-3">Add</button>
            </form>
        </div>
    </div>
</body>